/* small phones */
@media only screen and (max-width:481px){

.infobox{
    padding: 0
}
.navigations
{
    padding: 0;
    margin: 0;
    padding-top: 10px; 

}
.navbar-light .navbar-nav .nav-item.active {
padding:1px;
font-size: 10px;
}
.navbar-light .navbar-nav .active > .nav-link{
    padding: 5px 10px;
    font-size: 10px;
}
.headline{
    font-size: 40px;
}

}


/* medium phones to ipad mini */
@media only screen and (max-width:769){

}

/* small tab to large ipad */
@media only screen and (max-width:1200px){

}


/* big tab to large tab */
@media only screen and (min-width:1201px){

    
}