/* small phones */
@media only screen and (max-width:481px){

.infobox{
    background-color: rgba(255, 255, 255, 0.664);
    padding: 20px;
    margin: 150px 50px 50px 20px;
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 10px;

}
.title{
    margin: 20px; 
}
.country, .date{
    font-size: 18px;
}
.navigations
{
    padding: 10px 0;
    margin: 0;}

.navbar-light .navbar-nav .nav-link{
font-size: 15px;
}

.headline{
    font-size: 35px;
}
.js--buyticket{
    padding: 50px 100px;
}
.tab{
    width: 85%;
}

}


/* medium phones to ipad mini */
@media only screen and (max-width:769){

}

/* small tab to large ipad */
@media only screen and (max-width:1200px){

}


/* big tab to large tab */
@media only screen and (min-width:1201px){

    
}